{% let human_time = chrono_humanize::HumanTime::from(question.created_at.clone()) %}
<div class="my-4 question round-card hx-fade-out">
  <p>
    {{ question.body }}
  </p>
  <span class="text-stone-500">{{ human_time }}</span>
  <div class="flex my-2">
    <button
            hx-put="/htmx/answer/{{ question.id }}" hx-swap="outerHTML swap:0.3s"
            hx-target="closest .question" type="submit" class="mr-2 button ~info @high htmx-btn-indicator"
            hx-prompt="What is your answer?">
      Reply
    </button>
    <button
            hx-delete="/htmx/question/{{ question.id }}" hx-swap="outerHTML swap:0.3s"
            hx-target="closest .question" type="submit" class="button ~critical @high htmx-btn-indicator"
            hx-confirm="Are you sure you wish to delete this question?">
      Delete
    </button>
  </div>
</div>