<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐺 - curiouswolf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="manifest" href="/static/manifest.json">
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/service-worker.js")
                .then(function(registration) {
                    // Registration was successful
                    console.log("ServiceWorker registration successful with scope: ", registration.scope);
                }).catch(function(err) {
                console.log("ServiceWorker registration failed: ", err);
            });
        }
    </script>
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-200 dark:bg-stone-900 dark:text-white px-4">
    <div class="container mx-auto min-h-screen max-w-3xl">
        {% block content %}{% endblock %}
    </div>
</body>
</html>