{% extends "base.html" %}

{% block head %}
<!-- OGP card -->
<meta property="og:title" content="curiouswolf - anonymous Q&A">
<meta property="og:description" content="Ask @{{ user.username }} an anonymous question.">
<meta property="og:image" content="https://curiouswolf.shuttleapp.rs/ogp/image/@{{ user.username }}?version=1">
<meta property="og:type" content="website">

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="curiouswolf - anonymous Q&A">
<meta name="twitter:description" content="Ask @{{ user.username }} an anonymous question.">
<meta name="twitter:image" content="https://curiouswolf.shuttleapp.rs/ogp/image/@{{ user.username }}?is_twitter=true">
{% endblock %}

{% block content %}
{% include "elements/nav_bar.html" %}
<h1>This is the profile for @{{ user.username }}</h1>

<form id="question-form" hx-put="/htmx/question" hx-indicator="#submit-question" hx-swap="outerHTML swap:0.3s" class="flex flex-col hx-fade-out">
    <input type="hidden" name="username" value="{{ user.username }}">
    <textarea name="body" class="my-4 text-white placeholder-stone-600 bg-stone-900 border border-stone-600 rounded-md p-2" cols="40" rows="5" placeholder="What's the meaning of life?"></textarea>
    <button id="submit-question" class="button button-xl ~info @high htmx-btn-indicator">
        Ask Question
    </button>
</form>
<hr class="text-hr" title="Answers">
{% if answers.is_empty() %}
    <p class="text-center">@{{ user.username }} has not answered any questions yet.</p>
{% else %}
    <div id="answers">
        {% for pair in answers %}
        {% let question = pair.0.clone() %}
        {% let answer = pair.1.clone() %}
            {% let answer_human_time = chrono_humanize::HumanTime::from(answer.created_at.clone()) %}
            {% let question_human_time = chrono_humanize::HumanTime::from(question.created_at.clone()) %}
            <div class="question round-card hx-fade-out my-4">
                <p class="text-stone-500">Asked by Anonymous - {{ answer_human_time }}</p>
                <p>
                    {{ question.body }}
                </p>
                <hr class="my-4 border-stone-600">
                <p class="text-stone-500">Answer - {{ answer_human_time }}</p>
                <p>
                    {{ answer.body }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}