{% extends "base.html" %}

{% block head %}
<script src="/static/simple-webauthn.min.js"></script>
<script src="/static/authentication.js"></script>
{% endblock %}

{% block content %}
{% include "elements/nav_bar.html" %}
<div class="round-card flex flex-col p-8 max-w-md mt-32 mx-auto">
    <label class="font-semibold" for="username">Username</label>
    <input class="text-white my-2 placeholder-stone-600 bg-stone-900 border border-stone-600 rounded-md p-2" type="text" id="username" name="username">
    <p id="error-label" class="support text-red-500"></p>
    <button id="login-button" class="mt-4 button button-xl ~info @high">
        {% include "elements/passkey_icon.html" %}
        <span class="ml-4 font-semibold">Sign In With Passkey</span>
    </button>
</div>
{% endblock %}