{% extends "base.html" %}

{% block head %}
<script src="/static/notifications.js"></script>
{% endblock %}

{% block content %}
{% include "elements/nav_bar.html" %}
<div class="round-card">
  <div class="mb-4">
    <h1 class="text-xl">Welcome!</h1>
    <hr class="mt-1 border-stone-700">
  </div>

  {% match current_user %}
  {% when Some with (user) %}
  <p>Welcome to curiouswolf, <strong>{{ user.username }}!</strong></p>
  {% when None %}
  <p>Welcome to curiouswolf, <strong>Username!</strong></p>
  {% endmatch %}

  {% include "elements/notification_settings_section.html" %}

  <div class="my-4">
    <h1 class="text-xl">Rules</h1>
    <hr class="mt-1 border-stone-700">
  </div>

  <ol class="list-decimal px-4 pb-4">
    <li><strong>Be respectful:</strong> Treat others the way you would like to be treated. Do not use derogatory language or engage in personal attacks.</li>
    <li><strong>Do not spam:</strong> Do not post repetitive or irrelevant content in an attempt to promote a product or service.</li>
  </ol>

  <div class="flex justify-end my-2">
    <a href="/" class="w-full button button-xl ~info @high">
      Continue
    </a>
  </div>

</div>
{% endblock %}